{% from "_formhelpers.html" import render_field %}
<div id="status">
    <p>Remaining game time: <span id="time"></span></p>
</div>
<form id="control_form" method="post" action=".">
    <dl>
        {{ render_field(form.states) }}
    </dl>
    <!-- Now it's AJAX only, submit button has no meaning 
    <p><input id="submit" type="submit" value="Submit"></p>
    -->
</form>

<span id="response">
{% for category, message in get_flashed_messages(with_categories=True) %}
<p class="{{ category }}">{{ message }}</p>
{% endfor %}
</span>

