<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Tamagotchip</title>
<link rel="stylesheet" type="text/css" 
	href="{{ url_for('static', filename='styling.css') }}"></script>

<!-- AJAX stuff -->
<script type="text/javascript" 
	src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" 
	src="{{ url_for('static', filename='jquery.cookie.js') }}"></script>
<script type="text/javascript" 
    src={% block javascript_src %}"{{ url_for('static', filename='ajax.js') }}"
{% endblock %}></script>

</head>
<body>

    <div id="main">
        <div id="header">
            <h1 id="heading">Tamagotchip</h1>
        </div>

        {% block main %}

        <div id="videoplayer">

			<object id="video" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" 
				type="application/x-shockwave-flash" width="480" height="360" 
				codebase="http://www.macromedia.com/go/getflashplayer">

				<param name="movie" value="http://ditwww.epfl.ch/EPFLTV/Player_FLV/template_maxi/player_flv_maxi.swf">

				<param name="FlashVars" value="netconnection=rtmp://videoserv2.epfl.ch/live/&flv=livepf2&config=http%3A//ditwww.epfl.ch/EPFLTV/Player_FLV/flv_config.txt">
				<param name="menu" value="false" />
				<param name="allowScriptAccess" value="sameDomain" />
				<param name="quality" value="high" />
				<param name="allowFullScreen" value="true" />
				<param name="bgcolor" value="#ff0000" />
				<param name="wmode" value="opaque" />

				<embed name="video" ID="video" width="480" height="360"
				src="http://ditwww.epfl.ch/EPFLTV/Player_FLV/template_maxi/player_flv_maxi.swf"
				flashvars="netconnection=rtmp://videoserv2.epfl.ch/live/&flv=microscope&config=http%3A//ditwww.epfl.ch/EPFLTV/Player_FLV/flv_config.txt"
				type="application/x-shockwave-flash" 
				pluginspage="http://www.macromedia.com/go/getflashplayer" menu="false" 
				quality="high" align="middle" allowScriptAccess="sameDomain"
			   	allowFullScreen="true" alt="video">

				</embed>
				<noembed>
				<a href="http://www.macromedia.com/go/getflashplayer">
					Cliquer ici pour installer le lecteur</a>
				</noembed>

			</object> 

        </div>

        <div id="controls">
        {% block controls %}
        {% endblock %}
        </div>

        {% endblock %}

        <!-- <p style="clear: both">Tamagotchip was developed by the <a href="http://2011.igem.org/Team:EPF-Lausanne">2011 EPFL iGEM team</a> - <a href="http://2011.igem.org/Team:EPF-Lausanne/Tools/Microfluidics">More info</a></p> -->
    </div>

</body>
</html>
