<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Microfluidics remote</title>
<link rel="stylesheet" type="text/css" 
	href="{{ url_for('static', filename='styling.css') }}"></script>

<!-- AJAX stuff -->
<script type="text/javascript" 
	src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" 
	src="{{ url_for('static', filename='ajax.js') }}"></script>

<script type="text/javascript">
var SCRIPT_ROOT = '';

$(function() {
    $("#ajaxsubmit").bind('click', function() {
        $.post(url: $SCRIPT_ROOT + '/_set_states', 
            data: {
				a_state: $("input['a_state']").val();
				b_state: $("input['b_state']").val();
			},
            success: function(data) {
                jQuery('span#response').html(data.return_value).hide().fadeIn(1500);
            },
        });
        return false;
    });
});
</script>

</head>
<body>

    <div id="main">
        <div id="header">
            <h1 id="heading">Microfluidics Remote</h1>
        </div>

        <div id="videoplayer">
            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="480"
            height="296" id="utv399646"><param name="flashvars"
            value="autoplay=false&amp;brand=embed&amp;cid=8774084&amp;v3=1"/><param
            name="allowfullscreen" value="true"/><param name="allowscriptaccess"
            value="always"/><param name="movie"
            value="http://www.ustream.tv/flash/viewer.swf"/><embed
            flashvars="autoplay=false&amp;brand=embed&amp;cid=8774084&amp;v3=1"
            width="460" height="284" allowfullscreen="true" allowscriptaccess="always"
            id="utv399646" name="utv_n_17963"
            src="http://www.ustream.tv/flash/viewer.swf"
            type="application/x-shockwave-flash" /></object>
        </div>

        <div id="controls">
            <span id="response">
                <!-- TODO: replace when form validation is in place
                <p class="error">Invalid input</p>
                -->
            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}
            </span>

            <p>Please enter the state string:</p>
            {% from "_formhelpers.html" import render_field %}
            <form method="post" action=".">
                <dl>
                    {{ render_field(form.a_state) }}
                    {{ render_field(form.b_state) }}
                </dl>
                <p><input id="submit" type="submit" value="Submit"></p>
				<p><a id="ajaxsubmit" href="#">Ajax Submit</a></p>
            </form>
        </div>

    </div>

</body>
</html>
